ML_CLIENT_ID=seu_app_id
ML_CLIENT_SECRET=seu_client_secret
ML_REDIRECT_URI=http://localhost:3001/auth/callback
FRONTEND_URL=http://localhost:3000
PORT=3001

# Conexões ERP Microsys
DATABASE_HOST=192.168.10.37
DATABASE_PORT=3050
DATABASE_NAME=C:/Replicacao/SJC/MSYSDADOS_REPLICA.FDB
DATABASE_NAME_LOG=C:/Microsys/SJC/MsysIndustrial/dados/AUDITLOG.FDB
DATABASE_USER=SYSDBA
DATABASE_PASSWORD=masterkey
DATABASE_CHARSET=UTF8
